* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #f2f2f2;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* Base styles for navbar */
@media (min-width: 1500px) {

    .navbar {
        width: 50% !important;
    }
    .hero-section-title {
        position: absolute;
        top: 30%;
        font-weight: 200 !important;
        font-size: 6rem !important;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    
    .hero-section-title-outline {
        position: absolute;
        top: 30%;
        font-weight: 200 !important;
        font-size: 6rem !important;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        color: transparent;
        -webkit-text-stroke: 1px #f2f2f2;
        z-index: 1;
    }

    .hero-section-copy-container-groups {
        padding: 30px 15px ;
        min-width: 650px !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 85%) !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 390px;
        border-radius: 20px;
    }
}

.navbar {
    background-color: rgba(30, 30, 30, .6);
    backdrop-filter: blur(10px);
    width: 90%;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 12px;
}

/* Logo and menu styling */
.logo_div {
    display: flex;
    align-items: center;
}

#logo-image {
    width: 100px;
}

/* Menu styling */
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

/* Menu links */
ul li a {
    color: #f2f2f2;
    text-decoration: none;
}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
}

.bar {
    display: block;
    width: 100%;
    height: 2px;
    background: red;
    margin: 6px 0;
    transition: all 0.3s ease;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2 {
    top: 30%;
    transform: translateY(-50%);
}

.bar3 {
    bottom: 0;
}

/* Animation: Horizontal lines turning into an "X" */
.menu-toggle.open .bar1 {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px; /* Adjust to center the line */
}

.menu-toggle.open .bar2 {
    opacity: 0; /* Hide the middle line */
}

.menu-toggle.open .bar3 {
    transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px; /* Adjust to center the line */
}

/* Media query for small screens */
@media (max-width: 768px) {
    ul {
        display: none; /* Hide menu items by default */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        right: 0;
        background-color: rgba(30, 30, 30, .9);
        padding: 10px;
        gap: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease; /* Smooth slide down */
    }

    ul.active {
        display: flex; /* Show menu when toggled */
        max-height: 500px; /* Adjust this value based on the menu size */
        gap: 10px;
    }

    .menu-toggle {
        display: block; /* Show hamburger icon */
    }

    .hero-section-copy-container-groups {
        transform: translate(-50%, 50%) !important;
    }
}

@media (min-width: 769px) {
    .contact-section-main-group {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          ".";
    }

    .contact-section-text-part {
        background: url('../images/contact-bg.jpg');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        width: 50% !important;
        border-radius: 8px 0 0 8px !important;
    }

    .contact-section-text-part::after{
        border-radius: 8px 0 0 8px !important;
    }

    .art-subsection {
        background-color: red;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr;
        gap: 50px; 
        justify-content: center;
        align-content: center;
        border-radius: 8px;
        margin-top: 100px;
        padding: 50px 15px;
    }
}

/* hero section */
.hero-section {
    background: url('../images/hero-section-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 10px;
    position: relative;
}

.hero-section-title {
    position: absolute;
    top: 30%;
    font-weight: normal;
    font-size: 3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.hero-section-title-outline {
    position: absolute;
    top: 30%;
    font-weight: normal;
    font-size: 3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 1px #f2f2f2;
    z-index: 1;
}


#me-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 500px;
}

.hero-section-copy-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.hero-section-copy-container-groups {
    background-color: #001E1A;
    color: #f2f2f2;
    padding: 30px 15px ;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 390px;
    border-radius: 20px;
}

.hero-section-copy-container-text-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-section-copy-container-buttons-group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.contact-me-btn {
    background-color: #00A991;
    color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

.hero-section-copy-container-buttons-group-subgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.hero-section-copy-container-buttons-group-subgroup a {
    text-decoration: none;
}

.hero-section-copy-container-buttons-group-subgroup a:first-child {
    color: rgba(0, 119, 181, 0.7);
}

.hero-section-copy-container-buttons-group-subgroup a:nth-child(2)  {
    color: rgba(242, 242, 242, .7);
}

.hero-section-copy-container-buttons-group-subgroup a:nth-child(3) {
    color: rgba(193, 53, 132, .7);
}

.hero-section-copy-container-buttons-group-subgroup a:first-child:hover {
    color: rgba(0, 119, 181, 1);
}

.hero-section-copy-container-buttons-group-subgroup a:nth-child(2):hover  {
    color: rgba(242, 242, 242, 1);
}

.hero-section-copy-container-buttons-group-subgroup a:nth-child(3):hover {
    color: rgba(193, 53, 132, 1);
}
 /* // hero section  */

/* my-work section */
#my-work-section,
#contact-section,
.footer {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-dev-subsection,
.art-subsection {
    background-color: #001E1A;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px; 
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    margin-top: 100px;
    padding: 50px 15px;
}

.different-section {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.my-work-section-title,
.contact-section-title {
    color: #001E1A;
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
}

.different-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #b0e4dd;
}

.different-section p {
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 200;
    max-width: 400px;
}

.ask-for-rates-btn {
    margin-top: 50px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;  
    background-color: #b0e4dd;
    color: #001E1A;
    font-weight: bold;
}

.ask-for-rates-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);     
    color: #fff;
    cursor: pointer;
}

.text-part-web-dev-section,
.text-part-art-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-part-web-dev-section-inside,
.text-part-art-section-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-part-web-dev-section,
.post-part-art-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Each individual card
.post-card {
    background-color: #ddd;
    border-radius: 10px;
    width: 200px; 
    height: 400px;
    overflow: hidden;
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */

/* Image to take the whole card */
.post_image {
    width: 100%;
    height: 100%; /* Ensure image takes full card */
    object-fit: cover; /* Maintain aspect ratio and cover the card */
    z-index: 0; /* Ensure the image is behind the text */
}

/* Move the 2nd and 4th cards down
.post-card:nth-child(2), 
.post-card:nth-child(4) {
    margin-top: 50px; 
}  */


/* Gradient overlay at the bottom */
.post-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%; /* Adjust height of gradient overlay */
    background: linear-gradient(to top, rgba(0, 0, 0, .9), transparent);
    z-index: 1; /* Ensure gradient is above the image */
}

/* Button and text to be placed over the gradient */
.post_info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff; /* White text for cntrast */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2; /* Ensure the text is above the gradient and image */
}

/* Category button */
.category {
    background-color: #b0e4dd;
    color: #001E1A;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    z-index: 2; /* Ensures the button is above the image */
}

/* Title */
.post-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: white; /* White for contrast */
    z-index: 2;
}

/* Date */
.post-card .post-date {
    font-size: 0.7em;
    opacity: .7;
    color: white; /* White for contrast */
    z-index: 2;
    padding-bottom: 10px;
}

/* Read more button */
.expand_content_btn {
    color: #f2f2f2; /* White for contrast */
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* Hover effect on Read More */
.material-symbols-outlined.expand_content_btn:hover {
    transform: scale(1.3); /* Slight enlargement on hover */
}

/* CONTACT SECTION DOWNWARDS */

.contact-section-main-group {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    background-color:#001E1A;
    border-radius: 12px;
    margin-top: 100px;
    width: 90%;
}


#contactForm {
    margin: 30px;
    width: 50%;
    align-self:center;
    justify-self:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    flex: 1.5;
}

.contact-section-text-part {
    background: url('../images/contact-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section-text-part {
    position: relative;
    
}

.contact-section-text-part::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    border-radius:12px 0 0 12px;
}

.contact-section-text-part-inside {
    z-index: 1;
}

.contact-section-text-part-inside > h2 {
    font-size:3rem;
    color:#f2f2f2;
    text-align:right;
    position:relative;
    text-transform:uppercase;
    border-right: 2px solid #00A991;
    padding-right:10px;
    font-weight: 600;
    margin-top:100px;
    margin-bottom:50px;
    line-height: 1.2;
}

.contact-section-text-part-inside > p {
    color:#f2f2f2;
    font-weight:normal;
    z-index:9;
    width:300px;
    padding-right:10px;
    font-size:.85rem;
    text-align:right;
    border-right:2px solid #00A991;
    margin-bottom:100px;
}

.form-input {
    border: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid #b0e4dd;
    width: 300px;
    color: #b0e4dd;
}

.form-input:focus {
    outline: 1px solid #b0e4dd;
}

#message {
    resize: none;
}

.captcha-img {
    width: 150px;
}

#submit-contact-form-btn  {
    margin-top: 50px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;  
    background-color: #b0e4dd;
    color: #001E1A;
    font-weight: bold;
}

#submit-contact-form-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);     
    color: #fff;
    cursor: pointer;
}

/* FOOTER DOWNWARDS */

.footer-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color: #001E1A;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 12px;
    margin-bottom: 100px;
}

.footer-group ul,
.newsletter-subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgba(176, 228, 221, .8);
    justify-content: space-around;
}

.footer-group > ul > li:hover {
    color: rgba(176, 228, 221, 1);
    cursor: pointer;
}

#newsletterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newsletterForm > button {
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;  
    background-color: #b0e4dd;
    color: #001E1A;
    font-weight: bold;
    margin-top: 20px;
}

#newsletterForm > button:hover {
    background-color: #0056b3;
    transform: scale(1.05);     
    color: #fff;
    cursor: pointer;
}

#email-input-newsletter {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 5px;
    outline: none;
}

#email-input-newsletter:focus {
    outline: 2px solid #b0e4dd;
}

.newsletter-label-text { 
    color: #b0e4dd;
}

#captcha-label {
    color: #b0e4dd;
    padding-top: 25px;
    padding-bottom: 5px;
}

.automation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#001E1A;
    border-radius: 12px;
    margin-top: 100px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 90%;
}

.automation-section h2 {
    color: #b0e4dd;
    padding-bottom: 50px;
    font-size: 32px;
}

.automation-section p {
    color: #f2f2f2;
}

.automation-section-insides {
    padding-left: 5%;
    padding-right: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 10px 50px; 
    grid-template-areas: 
        "first second"
        "first second"; 
}

.automation-section-insides-text {
    align-self: center;
    justify-self: center;
    max-width: 600px;
    font-weight: 200;
}

.automation-screenshots {
    align-self: center;
    justify-self: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
        "first second third"
        "first second third"; 
}

.automation-screenshots .div {
    width: 300px;
    height: 450px;
    background-position: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.automation-screenshots .div:nth-child(1){
    background-image: url('../images/brevo-automation-v1.png');
    grid-area: first;
}

.automation-screenshots .div:nth-child(2){
    background-image: url('../images/brevo-automation-v2.png');
    grid-area: second;
}

.automation-screenshots .div:nth-child(3){
    grid-area: third;
    background-image: url('../images/zapier-automation.png');
}

.automation-screenshots .div span {
    position: absolute;
    top: 10%;
    left: 23%;
    transform: translate(-50%, -50%);
    background-color: #0056b3;
    color: #b0e4dd;
    padding: 10px 20px;
}

.button-container {
    position: relative;
    display: inline-block;
  }
  
  .coming-soon-text {
    position: absolute;
    bottom: 110%; /* Position above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #b0e4dd;
    color: #001E1A;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: 400;
  }
  
  .coming-soon-button {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #b0e4dd;
    transition: background-color 0.3s, transform 0.3s;  
    background-color: transparent;
    color: #b0e4dd;
    margin-left: 10px;
  }
  
  .coming-soon-button:hover + .coming-soon-text {
    visibility: visible;
    opacity: 1; /* Show text when hovering */
}

.project-card {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 300px;
    text-align: center;
    background-color: #f9f9f9;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.tech-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.tech-logo {
    width: 30px;
    height: auto;
}

.view-project-btn button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-project-btn button:hover {
    background-color: #0056b3;
}